<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bawei.jxcbiz.mapper.HUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bawei.jxcbiz.entity.HUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="shen" property="shen" />
        <result column="jie" property="jie" />
        <result column="address" property="address" />
        <result column="xiaddress" property="xiaddress" />
        <result column="zhen" property="zhen" />
        <result column="zhu" property="zhu" />
        <result column="fei" property="fei" />
        <result column="yid" property="yid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, birthday, sex, phone, shen, jie, address, xiaddress, zhen, zhu, fei, yid
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        select * from h_user
        <where>
            <if test="name!=null and name !=''">
                and name=#{name}
            </if>
            <if test="phone!=null and phone!=''">
                and phone =#{phone}
            </if>
            <if test="shen!=null and shen!=''">
                and shen=#{shen}
            </if>
        </where>
    </select>

</mapper>
