<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bawei.jxcbiz.mapper.TGoodstypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bawei.jxcbiz.entity.TGoodstype">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="p_id" property="pId" />
        <result column="state" property="state" />
        <result column="icon" property="icon" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.bawei.jxccommon.Dto.GoodTypeDto">
        <id column="id1" property="value"></id>
        <result column="name1" property="label"/>
        <collection property="children" ofType="com.bawei.jxccommon.Dto.GoodTypeDto">
            <id column="id2" property="value"></id>
            <result column="name2" property="label"/>
            <collection property="children" ofType="com.bawei.jxccommon.Dto.GoodTypeDto">
                <id column="id3" property="value"></id>
                <result column="name3" property="label"></result>
            </collection>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, p_id, state, icon
    </sql>

    <select id="getTree" resultMap="BaseResultMap2">
        SELECT
  a.id id1,
  a.name name1,

  b.id id2,
  b.name name2,
  c.id id3,
  c.name name3
FROM
  t_goodstype a
  LEFT JOIN t_goodstype b
    ON a.id = b.`p_id`
  LEFT JOIN  t_goodstype c ON b.id=c.p_id WHERE a.p_id=-1
    </select>

</mapper>
